{% extends "base.html" %}

{% block content %}
<div class="container-fluid mx-2">
    <div class="row mx-2 my-2">
        <div class="col col-md-6 mx-auto">
            <form action="">
                <div class="!!!random-button">
                    <button class="btn btn-primary" type="submit">Randomize</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mx-2 my-2">
        <!-- User data | Left table -->
        <div class="col mx-auto" style="max-height:80vh;overflow:scroll;border:solid 1px black;background-color: white;"> 
            <form action="" method="POST" id="gift-assignment-form">
                <table id="customers" style="font-size: 1rem;">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Gift assigned</th>
                        <th>Steals</th>
                    </tr>
                    {% for participant in participants %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ participant.first_name }}
                            <input type="hidden" name="to" value="{{ participant.email }}">
                        </td>
                        <td id="gift-image-dragged">
                            <div data-section="assign-gift" class="drop-div" data-id="{{ loop.index }}"
                                id="div{{ loop.index }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                            </div>
                        </td>
                        <td id="steal">0</td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
        <!-- Gift data | Right grid with all gifts -->
        <div class="col mx-auto"  style="max-height:80vh;overflow:scroll;">
            <div class="container-fluid" style="border:1px solid black;background-color: white;">
                <div class="row">
                    {% for gift in gifts %}
                    <div class="col-md-3">
                        <input type="checkbox" class="check-box" id="card-{{ loop.index }}"
                            onchange="disableCheckboxOnceRevealed(this)" />
                        <label class="card-container" for='card-{{ loop.index }}'>
                            <div class="card-flip">
                                <div class="card-1 front" style="border:1px solid black;border-radius:10px;">
                                    <img src="{{ url_for('static', filename='gift.png') }}" alt="">
                                    <p
                                        style="position: absolute; left: 50%; top: 57%; transform: translate(-50%, -50%);font-size:1rem;">
                                        {{ loop.index }}</p>
                                </div>
                                <div class="card-1 back">
                                    <div data-section="gift-data"
                                        style="width:100px;height:100px;border:1px solid black;border-radius:10px;">
                                        <img src="data:image/png;base64, {{ gift.gift_image_render }}" alt=""
                                            onClick="previewImage(this);">
                                        <img data-from="" src="data:image/png;base64, {{ gift.gift_image_render }}"
                                            data-gift-from="{{ gift.user.email }}" draggable="true"
                                            ondragstart="drag(event)" id="drag_{{ loop.index }}"
                                            style="position: absolute; left: 0; top:0;">
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-3 my-3">
        <div class="col col-md-6 mx-auto">
            <button class="btn btn-primary" form="gift-assignment-form" type="submit">Finish</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/gift.js') }}"></script>

<script type="text/javascript">
    window.onbeforeunload = function () {
        return 1;
    }
</script>
{% endblock %}